copyfile(fullfile(matlabroot,'toolbox','shared','cmlink','git','auxiliary_files','mwgitattributes'),fullfile(pwd,'.gitattributes'))
*.mlapp binary
*.mat binary
*.xlsx binary
*.jpg binary
*.pdf binary
*.docx binary

