copyfile(fullfile(matlabroot,'toolbox','shared','cmlink','git','auxiliary_files','mwgitattributes'),fullfile(pwd,'.gitattributes'))
*.mlapp binary
*.mat binary
*.xlsx binary
*.jpg binary
*.pdf binary
*.docx binary
*.mlx binary
*.mat binary
*.fig binary
*.mlapp binary
*.mdl binary
*.slx binary
*.mdlp binary
*.slxp binary
*.sldd binary
*.p  binary

